body {
    margin: 0;
    height: 100vh;
    background-image: url(/src/images/background-3.jpg);
    color: rgb(255, 255, 255);
}

#donut__clicker:hover {
    transform: scale(1.1);
    transition: transform .2s;
    cursor:pointer;
}

#donut__clicker:active {
    transform: scale(.9);
    transition: transform .2s;
}

#donut__clicker {
    transform: scale(1.0);
    transition: transform .2s;
    
}



.container {
    
  
    display: flex;
    
}

.auto__clickers {
    /* justify-self: stretch; */
    /* flex-grow: 1;*/
    justify-self: flex-start;
    /* flex:1 */
}

.donut__clicking {
    
    justify-content: center;
    text-align: center;
    flex:1
}

.donut__multiplier {
    /* justify-self: stretch; */
    /* flex-shrink: 0; */
    justify-self: flex-end;
    text-align: right;
    flex:1
}
.donut__count {
    /* text-align: ; */
    /* flex-grow:2; */
    
}

