# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WCCI Project\module-4-donut-maker-Lynxbob\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
